histvv.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:s="http://purl.oclc.org/dsdl/schematron"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://histvv.uni-leipzig.de/ns/2007">

  <s:ns prefix="v" uri="http://histvv.uni-leipzig.de/ns/2007"/>

  <start>
    <choice>
      <ref name="vv"/>
      <ref name="dozentenliste"/>
    </choice>
  </start>

  <define name="xml.lang.attribute">
    <attribute name="xml:lang">
      <data type="language">
        <param name="length">2</param>
      </data>
    </attribute>
  </define>

  <define name="xml.id.attribute">
    <attribute name="xml:id">
      <data type="ID"/>
    </attribute>
  </define>

  <define name="basic.attributes">
    <optional>
      <ref name="xml.id.attribute"/>
    </optional>
  </define>

  <define name="common.attributes">
    <ref name="basic.attributes"/>
    <optional>
      <ref name="xml.lang.attribute"/>
    </optional>
  </define>

  <define name="kontext.attribute">
    <a:documentation>
      macht kenntlich, daß der Text des aktuellen Elements (thema,
      titel) nur im Kontext verständlich ist und bei der Ausgabe
      ggf. um diesen ergänzt werden muß
    </a:documentation>
    <!--
      TODO: Der momentane Wert "sachgruppe" soll später durch
      XPath-Ausdrücke ersetzt werden, die das Kontext-Element
      referenzieren.
    -->
    <attribute name="kontext">
      <choice>
        <value>sachgruppe</value>
      </choice>
    </attribute>
  </define>

  <define name="titel">
    <element name="titel">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="vv">
    <a:documentation>
      Wurzelelement für ein Vorlesungsverzeichnis
    </a:documentation>
    <element name="vv">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="id">
          <a:documentation></a:documentation>
          <data type="NMTOKEN">
            <param name="pattern">[a-z]+-[0-9]{4}-(ws|ss)</param>
          </data>
        </attribute>
      </optional>
      <ref name="kopf"/>
      <optional>
        <ref name="seite"/>
      </optional>
      <ref name="titel"/>
      <optional>
        <element name="untertitel">
          <ref name="common.attributes"/>
          <ref name="text-content"/>
        </element>
      </optional>
      <interleave>
        <oneOrMore>
          <choice>
            <ref name="sachgruppe"/>
            <ref name="übersicht"/>
          </choice>
        </oneOrMore>
        <zeroOrMore>
          <ref name="absatz"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="seite"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="trennlinie"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="kopf">
    <a:documentation>Metadaten</a:documentation>
    <element name="kopf">
      <interleave>
        <optional>
          <element name="quelle">
            <text/>
          </element>
        </optional>
        <optional>
          <ref name="universität"/>
        </optional>
        <element name="semester">
          <choice>
            <value>Winter</value>
            <value>Sommer</value>
          </choice>
        </element>
        <element name="beginn">
          <ref name="partial-date"/>
        </element>
        <element name="ende">
          <ref name="partial-date"/>
        </element>
        <ref name="status"/>
      </interleave>
    </element>
  </define>

  <define name="universität">
    <element name="universität">
      <text/>
    </element>
  </define>

  <define name="status">
    <element name="status">
      <optional>
        <attribute name="komplett">
          <value>ja</value>
        </attribute>
      </optional>
      <ref name="transkribent"/>
      <zeroOrMore>
        <ref name="korrigiert"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="transkribent">
    <element name="transkribent">
      <s:pattern id="transkribent">
        <s:rule context="v:transkribent">
          <s:assert test="not(normalize-space(.) = '')">
            Bitte Transkribenten eintragen.
          </s:assert>
        </s:rule>
      </s:pattern>
      <text/>
    </element>
  </define>

  <define name="korrigiert">
    <element name="korrigiert">
      <element name="durch"><text/></element>
      <element name="am"><text/></element>
      <optional>
        <element name="anmerkungen"><text/></element>
      </optional>
    </element>
  </define>

  <define name="übersicht">
    <a:documentation>
      Hauptgliederung späterer Vorlesungsverzeichnisse ("Systematische
      Übersicht", "Übersicht nach der Ordnung der Lehrer", "Übersicht
      nach Tagesstunden" usw.)
    </a:documentation>
    <element name="übersicht">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="ref"/>
      </optional>
      <optional>
        <ref name="titel"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="sachgruppe"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="absatz"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="seite"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="trennlinie"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="sachgruppe">
    <a:documentation>
      Gliederung der Fachgebiete, Themen etc.
    </a:documentation>
    <element name="sachgruppe">
      <s:pattern id="sachgruppe">
        <s:rule context="v:sachgruppe">
          <s:assert test="v:sachgruppe
                          or v:veranstaltung
                          or v:veranstaltungsgruppe
                          or v:veranstaltungsverweis
                          or v:absatz
                          or .//v:siehe">
            Sachgruppe muß Veranstaltungsangaben, weitere Sachgruppen
            oder Verweis auf andere Sachgruppe enthalten.
          </s:assert>
        </s:rule>
      </s:pattern>
      <ref name="common.attributes"/>
      <optional>
        <attribute name="ref"/>
      </optional>
      <optional>
        <ref name="sachgruppentitel"/>
      </optional>
      <interleave>
        <!--
           Um das Editieren zu erleichtern, wird das Vorhandensein
           entweder einer <veranstaltung> oder einer <sachgruppe> an
           dieser Stelle nicht erzwungen. TODO: Es sollte vielleicht
           durch eine Schematron-Regel sichergestellt werden.
        -->
        <zeroOrMore>
          <ref name="sachgruppe"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="veranstaltung"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="veranstaltungsverweis"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="veranstaltungsgruppe"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="absatz"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="seite"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="trennlinie"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="sachgruppentitel">
    <element name="titel">
      <ref name="common.attributes"/>
      <optional>
        <ref name="kontext.attribute"/>
      </optional>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="model.veranstaltung">
    <interleave>
      <ref name="text-content"/>
      <!-- 
           <dozent> bzw. <ders> sind optional um das Editieren zu
           erleichtern. TODO: Eine Schematron-Regel könnte auf fehlende
           Dozentenangaben hinweisen.
      -->
      <zeroOrMore>
        <ref name="dozent"/>
      </zeroOrMore>
      <optional>
        <ref name="ders"/>
      </optional>
      <zeroOrMore>
        <ref name="thema"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="zeit"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="modus"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="gebühr"/>
      </zeroOrMore>
    </interleave>
  </define>

  <define name="veranstaltung">
    <a:documentation>
      einzelne Lehrveranstaltung
    </a:documentation>
    <element name="veranstaltung">
      <ref name="common.attributes"/>
      <!-- 
        Die folgenden Attribute dienen der Angabe von
        Veranstaltungsdaten in Fällen, wo diese nicht über Elemente
        auszeichenbar sind sondern aus dem Kontext erschlossen
        werden. TODO: Eine konsistente Verwendung sollte über
        Schematron-Regeln sichergestellt werden.
      -->
      <optional>
        <attribute name="dozent"/>
      </optional>
      <optional>
        <attribute name="gebühr"/>
      </optional>
      <optional>
        <attribute name="modus"/>
      </optional>
      <optional>
        <attribute name="thema"/>
      </optional>
      <optional>
        <attribute name="zeit"/>
      </optional>

      <ref name="model.veranstaltung"/>
    </element>
  </define>

  <define name="veranstaltungsgruppe">
    <a:documentation>
      Gruppierung von Veranstaltungsangaben; die enthaltenen
      Veranstaltungen erben Daten der Gruppe
    </a:documentation>
    <element name="veranstaltungsgruppe">
      <s:pattern id="veranstaltungsgruppe">
        <s:rule context="v:veranstaltungsgruppe">
          <s:assert test="count(v:veranstaltung) +
                          count(v:veranstaltungsgruppe) +
                          count(v:veranstaltungsverweis)  > 1">
            Veranstaltungsgruppe mit weniger als zwei Veranstaltungen
            ist nicht sinnvoll.
          </s:assert>
        </s:rule>
      </s:pattern>
      <interleave>
        <ref name="common.attributes"/>
        <ref name="model.veranstaltung"/>
        <zeroOrMore>
          <ref name="veranstaltung"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="veranstaltungsverweis"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="veranstaltungsgruppe"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="veranstaltungsverweis">
    <a:documentation>
      Verweis auf Veranstaltungsangabe an anderem Ort
    </a:documentation>
    <element name="veranstaltungsverweis">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="ref">
          <data type="IDREF"/>
        </attribute>
      </optional>
      <ref name="model.veranstaltung"/>
    </element>
  </define>


  <define name="dozent">
    <a:documentation>
      Angaben zum Dozenten
    </a:documentation>
    <element name="dozent">
      <interleave>
        <ref name="common.attributes"/>
        <optional>
          <attribute name="ref"/>
        </optional>
        <!-- 
             Um das Editieren zu erleichtern sind alle Kindelemente
             optional. TODO: Eine Schematron-Regel könnte auf
             unvollständige Dozentenangaben hinweisen.
        -->
        <ref name="model.text"/>
        <optional>
          <ref name="nachname"/>
        </optional>
        <optional>
          <ref name="vorname"/>
        </optional>
        <optional>
          <ref name="nachnamenpräfix"/>
        </optional>
        <zeroOrMore>
          <ref name="grad"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="funktion"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="nachname">
    <a:documentation>
      Nachname
    </a:documentation>
    <element name="nachname">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="vorname">
    <a:documentation>
      Vorname
    </a:documentation>
    <element name="vorname">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="nachnamenpräfix">
    <a:documentation>
      "von", "van", "de" ...
    </a:documentation>
    <element name="nachnamenpräfix">
      <ref name="common.attributes"/>
      <text/>
    </element>
  </define>

  <define name="grad">
    <a:documentation>
      akademischer Grad
    </a:documentation>
    <element name="grad">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="funktion">
    <a:documentation>
      akademische Funktion
    </a:documentation>
    <element name="funktion">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="ders">
    <a:documentation>
      Auszeichnung für Verweise auf vorhergehenden Dozenten:
      "Derselbe", "Ders." etc.
    </a:documentation>
    <element name="ders">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="thema">
    <a:documentation>
      Auszeichnung für Text, der das Thema der Lehrveranstaltung
      beschreibt
    </a:documentation>
    <element name="thema">
      <interleave>
        <ref name="common.attributes"/>
        <optional>
          <ref name="kontext.attribute"/>
        </optional>
        <ref name="text-content"/>
        <zeroOrMore>
          <ref name="autor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="schrift"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="autor">
    <a:documentation>
      in Lehrveranstaltungen behandelte oder verwendete Autoren
    </a:documentation>
    <element name="autor">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="schrift">
    <a:documentation>
      in Lehrveranstaltungen behandelte oder verwendete Texte
    </a:documentation>
    <element name="schrift">
      <interleave>
        <ref name="common.attributes"/>
        <ref name="model.text"/>
        <optional>
          <ref name="titel"/>
        </optional>
        <optional>
          <ref name="autor"/>
        </optional>
        <zeroOrMore>
          <ref name="notiz"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="zeit">
    <a:documentation>
      zur Auszeichnung von Zeitangaben
    </a:documentation>
    <element name="zeit">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="ort">
    <a:documentation>
      zur Auszeichnung von Ortsangaben
    </a:documentation>
    <element name="ort">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="modus">
    <a:documentation>
      z.B. "privatissime" / "öffentlich"
    </a:documentation>
    <element name="modus">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="gebühr">
    <a:documentation>
      Angaben zur Bezahlung einer Lehrveranstaltung,
      z.B. "unentgeltlich"
    </a:documentation>
    <element name="gebühr">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="absatz">
    <a:documentation>
      Textabsatz
    </a:documentation>
    <element name="absatz">
      <ref name="common.attributes"/>
      <interleave>
        <ref name="text-content"/>
        <zeroOrMore>
          <ref name="veranstaltung"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="veranstaltungsverweis"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="dozent"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="model.text">
    <a:documentation></a:documentation>
    <interleave>
      <text/>
      <zeroOrMore>
        <ref name="seite"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="sic"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="korrektur"/>
      </zeroOrMore>
    </interleave>
  </define>

  <define name="text-content">
    <a:documentation></a:documentation>
    <interleave>
      <ref name="model.text"/>
      <zeroOrMore>
        <ref name="notiz"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="siehe"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="ort"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="scil"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="antiqua"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="gesperrt"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="kursiv"/>
      </zeroOrMore>
    </interleave>
  </define>

  <define name="seite">
    <a:documentation>Seitenmarkierung</a:documentation>
    <!--
       Dass sich Elementtext und nr-Attribut gegenseitig
       ausschliessen, wird hier als Schematron-Regel festgehalten.
       Bei Implementierung als <choice> im RNG läßt sich das Attribut
       im XmlMind nicht setzen.
    -->
    <s:pattern id="seite">
      <s:rule context="v:seite">
        <s:assert test="@nr or not(text() = '')">
          Seitenzahl fehlt.
        </s:assert>
        <s:assert test="not(@nr and not(text() = ''))">
          Die Seitenzahl muss entweder im Text oder im Attribut 'nr'
          angegeben werden, nicht in beiden.
        </s:assert>
      </s:rule>
    </s:pattern>

    <element name="seite">
      <ref name="basic.attributes"/>
      <optional>
        <attribute name="nr">
          <a:documentation>implizite Seitenzahl bei nichtpaginierten Seiten</a:documentation>
          <choice>
            <data type="positiveInteger"/>
            <data type="NMTOKEN">
              <param name="pattern">[a-z0-9]+</param>
            </data>
          </choice>
        </attribute>
      </optional>
      <choice>
        <empty/>
        <data type="positiveInteger"/>
      </choice>
    </element>
  </define>

  <define name="siehe">
    <a:documentation>
      zur Auszeichnung von Verweisen auf Sachgruppen oder
      Veranstaltungen innerhalb des gleichen Dokuments
      (z.B. "s. Dogmatik")
    </a:documentation>
    <element name="siehe">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="ref">
          <data type="IDREF"/>
        </attribute>
      </optional>
      <interleave>
        <ref name="model.text"/>
        <zeroOrMore>
          <ref name="notiz"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="antiqua"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="gesperrt"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="kursiv"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="scil">
    <a:documentation>
      zur Textklärung
    </a:documentation>
    <element name="scil">
      <s:pattern id="scil">
        <s:rule context="v:scil">
          <s:assert test="not(@text='???')">
            Attribut 'text' enthält Platzhaltertext ('???').
          </s:assert>
        </s:rule>
      </s:pattern>
      <ref name="common.attributes"/>
      <attribute name="text"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="notiz">
    <a:documentation></a:documentation>
    <element name="notiz">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="betreff"/>
      </optional>
      <interleave>
        <ref name="model.text"/>
        <zeroOrMore>
          <ref name="antiqua"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="gesperrt"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="kursiv"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="antiqua">
    <a:documentation>Hervorhebung, antiqua</a:documentation>
    <element name="antiqua">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="gesperrt">
    <a:documentation>Hervorhebung, gesperrt</a:documentation>
    <element name="gesperrt">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="kursiv">
    <a:documentation>Hervorhebung, kursiv</a:documentation>
    <element name="kursiv">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="trennlinie">
    <a:documentation>horizontale Linie</a:documentation>
    <element name="trennlinie">
      <ref name="basic.attributes"/>
      <empty/>
    </element>
  </define>

  <define name="sic">
    <a:documentation>
      Markierung ungewöhnlicher Schreibweisen im Original
    </a:documentation>
    <element name="sic">
      <ref name="basic.attributes"/>
      <text/>
    </element>
  </define>

  <define name="korrektur">
    <a:documentation>
      Auszeichnung von Korrekturen bei Transkription
    </a:documentation>
    <element name="korrektur">
      <s:pattern id="korrektur">
        <s:rule context="v:korrektur">
          <s:assert test="not(. = '' and not(@original))">
            Leeres Element 'korrektur' ohne Angabe des Originaltexts
            ist nicht zulässig.
          </s:assert>
        </s:rule>
      </s:pattern>
      <ref name="basic.attributes"/>
      <optional>
        <a:documentation>
          enthält den Originaltext, bleibt leer bei Ergänzungen
        </a:documentation>
        <attribute name="original"/>
      </optional>
      <text/>
    </element>
  </define>

  <define name="partial-date">
    <a:documentation>
      Datumsangabe, die mindestens das Jahr enthalten muss
    </a:documentation>
    <group>
      <ref name="jahr"/>
      <optional>
        <ref name="monat"/>
        <optional>
          <ref name="tag"/>
        </optional>
      </optional>
    </group>
  </define>

  <define name="jahr">
    <a:documentation>Jahreszahl</a:documentation>
    <element name="jahr">
      <ref name="basic.attributes"/>
      <data type="positiveInteger">
        <param name="pattern">[0-9]{4}</param>
      </data>
    </element>
  </define>

  <define name="monat">
    <a:documentation>Monatszahl</a:documentation>
    <element name="monat">
      <ref name="basic.attributes"/>
      <data type="positiveInteger">
        <param name="minInclusive">1</param>
        <param name="maxInclusive">12</param>
      </data>
    </element>
  </define>

  <define name="tag">
    <a:documentation>Tag des Monats</a:documentation>
    <element name="tag">
      <ref name="basic.attributes"/>
      <data type="positiveInteger">
        <param name="minInclusive">1</param>
        <param name="maxInclusive">31</param>
      </data>
    </element>
  </define>


  <define name="dozentenliste">
    <a:documentation>Wurzelelement für Dozentenliste</a:documentation>
    <element name="dozentenliste">
      <ref name="common.attributes"/>
      <ref name="universität"/>
      <oneOrMore>
        <element name="dozent">
          <ref name="common.attributes"/>
          <element name="name">
            <ref name="nachname"/>
            <optional>
              <ref name="vorname"/>
            </optional>
            <optional>
              <ref name="nachnamenpräfix"/>
            </optional>
          </element>
          <optional>
            <ref name="geboren"/>
          </optional>
          <optional>
            <ref name="gestorben"/>
          </optional>
          <optional>
            <element name="pnd">
              <a:documentation>PND-Nummer</a:documentation>
              <data type="token">
                <param name="pattern">[0-9]{8}[0-9X]</param>
              </data>
            </element>
          </optional>
          <interleave>
            <zeroOrMore>
              <element name="absatz">
                <text/>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <element name="url">
                <ref name="http-url"/>
              </element>
            </zeroOrMore>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="eckdaten">
    <ref name="partial-date"/>
    <optional>
      <element name="ort">
        <text/>
      </element>
    </optional>
  </define>

  <define name="geboren">
    <element name="geboren">
      <ref name="eckdaten"/>
    </element>
  </define>

  <define name="gestorben">
    <element name="gestorben">
      <ref name="eckdaten"/>
    </element>
  </define>

  <define name="http-url">
    <data type="anyURI">
      <param name="pattern">https?://.+</param>
    </data>
  </define>

  <s:pattern id="nonempty-elements">
    <s:rule context="v:nachname | v:vorname | v:nachnamenpräfix |
                     v:funktion | v:grad | v:ders |
                     v:thema | v:gebühr | v:modus | v:zeit | v:ort |
                     v:siehe | v:scil | v:sic | v:notiz">
      <s:assert test="not(text()='' or normalize-space(.)='')">
        Dieses Element darf nicht leer sein.
      </s:assert>
    </s:rule>
  </s:pattern>

</grammar>
