histvv.rng

<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://hashtable.de/ns/histvv">

  <start>
    <ref name="vv"/>
  </start>

  <define name="xml.lang.attribute">
    <attribute name="xml:lang">
      <data type="language">
        <param name="length">2</param>
      </data>
    </attribute>
  </define>

  <define name="xml.id.attribute">
    <attribute name="xml:id">
      <data type="ID"/>
    </attribute>
  </define>

  <define name="basic.attributes">
    <optional>
      <ref name="xml.id.attribute"/>
    </optional>
  </define>

  <define name="common.attributes">
    <ref name="basic.attributes"/>
    <optional>
      <ref name="xml.lang.attribute"/>
    </optional>
  </define>

  <define name="titel">
    <element name="titel">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="vv">
    <a:documentation>
      Wurzelelement für ein Vorlesungsverzeichnis
    </a:documentation>
    <element name="vv">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="id">
          <a:documentation></a:documentation>
          <data type="NMTOKEN">
            <param name="pattern">[a-z]+-[0-9]{4}-(ws|ss)</param>
          </data>
        </attribute>
      </optional>
      <ref name="kopf"/>
      <ref name="titel"/>
      <optional>
        <element name="untertitel">
          <ref name="common.attributes"/>
          <ref name="text-content"/>
        </element>
      </optional>
      <interleave>
        <oneOrMore>
          <choice>
            <ref name="sachgruppe"/>
            <ref name="übersicht"/>
          </choice>
        </oneOrMore>
        <zeroOrMore>
          <ref name="absatz"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="seite"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="trennlinie"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="kopf">
    <a:documentation>Metadaten</a:documentation>
    <element name="kopf">
      <interleave>
        <element name="semester">
          <choice>
            <value>Winter</value>
            <value>Sommer</value>
          </choice>
        </element>
        <element name="beginn">
          <ref name="partial-date"/>
        </element>
        <element name="ende">
          <ref name="partial-date"/>
        </element>
        <optional>
          <element name="universität">
            <text/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="übersicht">
    <a:documentation>
      Hauptgliederung späterer Vorlesungsverzeichnisse ("Sytematische
      Übersicht", "Übersicht nach der Ordnung der Lehrer", "Übersicht
      nach Tagesstunden" usw.)
    </a:documentation>
    <element name="übersicht">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="ref"/>
      </optional>
      <optional>
        <ref name="titel"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="sachgruppe"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="absatz"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="seite"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="trennlinie"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="sachgruppe">
    <a:documentation>
      Gliederung der Fachgebiete, Themen etc.
    </a:documentation>
    <element name="sachgruppe">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="ref"/>
      </optional>
      <optional>
        <ref name="titel"/>
      </optional>
      <interleave>
        <!--
           Um das Editieren zu erleichtern, wird das Vorhandensein
           entweder einer <veranstaltung> oder einer <sachgruppe> an
           dieser Stelle nicht erzwungen. TODO: Es sollte vielleicht
           durch eine Schematron-Regel sichergestellt werden.
        -->
        <zeroOrMore>
          <ref name="sachgruppe"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="veranstaltung"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="absatz"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="seite"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="trennlinie"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="veranstaltung">
    <a:documentation>
      einzelne Lehrveranstaltung
    </a:documentation>
    <!-- 
       Sollte das nach Veranstaltungstypen (Vorlesung, Übung, Seminar
       usw.) aufgegliedert werden?
    -->
    <element name="veranstaltung">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="id">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <interleave>
        <ref name="text-content"/>
        <choice>
          <!-- 
            <dozent> bzw. <ders> sind optional um das Editieren zu
            erleichtern. TODO: Eine Schematron-Regel könnte auf
            fehlende Dozentenangaben hinweisen.
          -->
          <zeroOrMore>
            <ref name="dozent"/>
          </zeroOrMore>
          <ref name="ders"/>
        </choice>
        <optional>
          <ref name="thema"/>
        </optional>
        <optional>
          <ref name="ort"/>
        </optional>
        <zeroOrMore>
          <ref name="zeit"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="modus"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="gebühr"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="dozent">
    <a:documentation>
      Angaben zum Dozenten
    </a:documentation>
    <element name="dozent">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="ref"/>
      </optional>
      <!-- 
        Um das Editieren zu erleichtern sind alle Kindelemente
        optional. TODO: Eine Schematron-Regel könnte auf
        unvollständige Dozentenangaben hinweisen.
      -->
      <interleave>
        <ref name="text-content"/>
        <optional>
          <ref name="nachname"/>
        </optional>
        <optional>
          <ref name="vorname"/>
        </optional>
        <optional>
          <ref name="von"/>
        </optional>
        <optional>
          <ref name="grad"/>
        </optional>
        <optional>
          <ref name="funktion"/>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="nachname">
    <a:documentation>
      Nachname
    </a:documentation>
    <element name="nachname">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="vorname">
    <a:documentation>
      Vorname
    </a:documentation>
    <element name="vorname">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="von">
    <a:documentation>
      "von", "van", "de" ...
    </a:documentation>
    <element name="von">
      <ref name="common.attributes"/>
      <text/>
    </element>
  </define>

  <define name="grad">
    <a:documentation>
      akademischer Grad
    </a:documentation>
    <element name="grad">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="funktion">
    <a:documentation>
      akademische Funktion
    </a:documentation>
    <element name="funktion">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="ders">
    <a:documentation>
      Auszeichnung für Verweise auf vorhergehenden Dozenten:
      "Derselbe", "Ders." etc.
    </a:documentation>
    <element name="ders">
      <ref name="common.attributes"/>
      <text/>
    </element>
  </define>

  <define name="thema">
    <a:documentation>
      Auszeichnung für Text, der das Thema der Lehrveranstaltung
      beschreibt
    </a:documentation>
    <element name="thema">
      <ref name="common.attributes"/>
      <interleave>
        <ref name="text-content"/>
        <optional>
          <ref name="ort"/>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="zeit">
    <a:documentation>
      zur Auszeichnung von Zeitangaben
    </a:documentation>
    <element name="zeit">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="ort">
    <a:documentation>
      zur Auszeichnung von Ortsangaben
    </a:documentation>
    <element name="ort">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="modus">
    <a:documentation>
      z.B. "privatissime" / "öffentlich"
    </a:documentation>
    <element name="modus">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="gebühr">
    <a:documentation>
      Angaben zur Bezahlung einer Lehrveranstaltung,
      z.B. "unentgeltlich"
    </a:documentation>
    <element name="gebühr">
      <ref name="common.attributes"/>
      <ref name="text-content"/>
    </element>
  </define>

  <define name="absatz">
    <a:documentation>
      Textabsatz
    </a:documentation>
    <element name="absatz">
      <ref name="common.attributes"/>
      <interleave>
        <ref name="text-content"/>
        <zeroOrMore>
          <ref name="veranstaltung"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="ort"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="model.text">
    <a:documentation></a:documentation>
    <interleave>
      <text/>
      <zeroOrMore>
        <ref name="seite"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="sic"/>
      </zeroOrMore>
    </interleave>
  </define>

  <define name="text-content">
    <a:documentation></a:documentation>
    <interleave>
      <ref name="model.text"/>
      <zeroOrMore>
        <ref name="notiz"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="antiqua"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="gesperrt"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="kursiv"/>
      </zeroOrMore>
    </interleave>
  </define>

  <define name="seite">
    <a:documentation>Seitenmarkierung</a:documentation>
    <element name="seite">
      <ref name="basic.attributes"/>
      <optional>
        <attribute name="nr">
          <a:documentation>implizite Seitenzahl bei nichtpaginierten Seiten</a:documentation>
          <choice>
            <data type="positiveInteger"/>
            <data type="NMTOKEN">
              <param name="pattern">[a-z0-9]+</param>
            </data>
          </choice>
        </attribute>
      </optional>
      <choice>
        <empty/>
        <data type="positiveInteger"/>
      </choice>
    </element>
  </define>

  <define name="notiz">
    <a:documentation></a:documentation>
    <element name="notiz">
      <ref name="common.attributes"/>
      <optional>
        <attribute name="betreff"/>
      </optional>
      <interleave>
        <ref name="model.text"/>
        <zeroOrMore>
          <ref name="antiqua"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="gesperrt"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="kursiv"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="antiqua">
    <a:documentation>Hervorhebung, antiqua</a:documentation>
    <element name="antiqua">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="gesperrt">
    <a:documentation>Hervorhebung, gesperrt</a:documentation>
    <element name="gesperrt">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="kursiv">
    <a:documentation>Hervorhebung, kursiv</a:documentation>
    <element name="kursiv">
      <ref name="common.attributes"/>
      <ref name="model.text"/>
    </element>
  </define>

  <define name="trennlinie">
    <a:documentation>horizontale Linie</a:documentation>
    <element name="trennlinie">
      <ref name="basic.attributes"/>
      <empty/>
    </element>
  </define>

  <define name="sic">
    <a:documentation>
      Markierung für ungewöhnliche Schreibweisen im Original
    </a:documentation>
    <element name="sic">
      <ref name="basic.attributes"/>
      <optional>
        <attribute name="beschreibung"/>
      </optional>
      <text/>
    </element>
  </define>

  <define name="partial-date">
    <a:documentation>
      Datumsangabe, die mindestens das Jahr enthalten muss
    </a:documentation>
    <group>
      <ref name="jahr"/>
      <optional>
        <ref name="monat"/>
        <optional>
          <ref name="tag"/>
        </optional>
      </optional>
    </group>
  </define>

  <define name="jahr">
    <a:documentation>Jahreszahl</a:documentation>
    <element name="jahr">
      <ref name="basic.attributes"/>
      <data type="positiveInteger">
        <param name="pattern">[0-9]{4}</param>
      </data>
    </element>
  </define>

  <define name="monat">
    <a:documentation>Monatszahl</a:documentation>
    <element name="monat">
      <ref name="basic.attributes"/>
      <data type="positiveInteger">
        <param name="minInclusive">1</param>
        <param name="maxInclusive">12</param>
      </data>
    </element>
  </define>

  <define name="tag">
    <a:documentation>Tag des Monats</a:documentation>
    <element name="tag">
      <ref name="basic.attributes"/>
      <data type="positiveInteger">
        <param name="minInclusive">1</param>
        <param name="maxInclusive">31</param>
      </data>
    </element>
  </define>

</grammar>
